!!!
%html
  %head
    %title Simple News Aggregation
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/960.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/reset.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/text.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/default.css", :media => "screen"}
  %body
    #header
      .container_12
        #logo
          .grid_2
            %h1 IMAGE
        #pageinfo
          .grid_6
            %h1 Simple News Aggregation 
            %h6 Simple News Aggregation - web and topical feeds reader
        .grid_4
          #side_1
    #main
      .container_12
        = yield
