!!!
%html
  %head
    %title Simple News Aggregation
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/default.css", :media => "screen"}
  %body
    #sidebar
    #main
      #header
        #logo
          %h1 IMAGE
        #pageinfo
          %h1 Simple News Aggregation 
          %h4 Simple News Aggregation - web and topical feeds reader
      #container
        = yield
