#content{:class => 'alpha grid_8'}
  - @categories.each do |c|

    %h3= c.name
    .catcontent
      .spacer1
  .spacer1
#sidebar{:class => 'omega grid_4'}
  %h3 Add new category:
  - form_for @category do |c|
    = c.text_field :name
    = c.submit 'Create'
