#content{:class => 'alpha grid_8'}
  - @categories.each do |category|
    %h3= category.name
    = button_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete
    .catcontent
      .spacer1
  .spacer1
#sidebar{:class => 'omega grid_4'}
  %h3 Add new category:
  - form_for @category do |c|
    = c.text_field :name
    = c.submit 'Create'
