/* Spacers */
.spacer1 {
  height: 1em;
}
.spacer3 {
  height: 3em;
}

/* Sidebar */
#sidebar {
  background: #66FFFF;
  min-height: 650px; 
  border-radius: 8px;
  -moz-border-radius: 8px;
  border: dotted 1px #336699;
}

#sidebar h3 {
  text-align: center;
  background: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 20px 20px 0 20px;
}

#sidebar .sbform {
  margin: 20px 20px 0 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  border: solid 2px white;
}

#sidebar li {
  list-style-position: outside;
  list-style-type: circle;
}

#sidebar ul {
  background: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin: 5px 20px 0 20px; 
}

#sidebar .sbform h3 {
  margin: 0 0 0 0;
  border-radius: 0;
  -moz-border-radius: 0;
}

#sidebar .sbform input#feed_url {
  width:170px;
}

/* Header */
#header {
  border-bottom: dotted 1px #336699;
  height: 35px;
  background-color: #66FFFF;
}
#navigation {
  margin-top: 6px;
}
#navigation a {
  margin-right: 1em;
}

/* Defaults */
li {
  list-style: none;
}

/* Content */
#content h2 {
  text-align: center;
  background: #66FFFF;
  border-radius: 8px;
  -moz-border-radius: 8px;
}
#content h3,h6 {
  margin-bottom: 1px;
}

#tip {
  color: white;
  background: #336699;
  border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 1em 0 1em 0;
  text-align: center;
}

.record_content {
  padding-left: 2em;
}

