#content{:class => 'alpha grid_8'}
  %h3 Category1 
  %ul
    %li feed1
    %li feed2
    %li feed6
    %li feed7
    %li feed9
    %li
      %a{:href => 'categories/show' } (see more)
  %h3 Category2
  %ul
    %li feed3
    %li feed4
    %li feed5
#sidebar{:class => 'omega grid_4'}
  %h3 Last 10 news:
  %ul
    %li
      %a{:href => 'feeds/show'} last new1
    %li
      %a{:href => 'feeds/show'} last new1
    %li
      %a{:href => 'feeds/show'} last new1
