#content{:class => 'alpha grid_8'}
  %h2 Category1
  #tip This category is empty. Use form on your right to add first feed to this category!
#sidebar{:class => 'omega grid_4'}
  %h3 Add your feed:
  %form{ :action => '#', :method => 'POST' }
    %input{ :type => 'text', :id => 'feed_url', :value => 'Url to your feed'}
    %input{ :type => 'submit', :value => 'Add' }
