.grid_8
  #content
    %h3 News1 (12:22 12.06.2001) by goozzik
    .newcontent
      %p this is text of news
      %a{:href => '#'} (see more)

    %h3 News2 (12:22 12.06.2001) by goozzik
    .newcontent
      %p this is text of news
      %a{:href => '#'} (see more)

    %h3 News3 (12:22 12.06.2001) by goozzik
    .newcontent
      %p this is text of news
      %a{:href => '#'} (see more)


.grid_4
  #sidebar
    %h3 Last 10 news:
    %ul
      %li last new1 (link to category)
      %li last new2 (link to category)
      %li last new3 (link to category)
      %li last new4 (link to category)
      %li last new1 (link to category)
      %li last new2 (link to category)
      %li last new3 (link to category)
      %li last new4 (link to category)
