#content{:class => 'alpha grid_8'}
  %h3 News1 (12:22 12.06.2001) by goozzik
  .newcontent
    %p this is text of news
    %a{:href => '#'} Go to source 
#sidebar{:class => 'alpha grid_4'}
  %h3 Last 10 news:
  %ul
    %li last new1 (link to category)
    %li last new2 (link to category)
    %li last new3 (link to category)
    %li last new4 (link to category)
    %li last new1 (link to category)
    %li last new2 (link to category)
    %li last new3 (link to category)
    %li last new4 (link to category)
