development:
  adapter: postgresql
  encoding: unicode
  database: Simple-News-Aggregation_development
  pool: 5
  username: Simple-News-Aggregation
  password:

test: &test
  adapter: postgresql
  encoding: unicode
  database: Simple-News-Aggregation_test
  pool: 5
  username: Simple-News-Aggregation
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: Simple-News-Aggregation_production
  pool: 5
  username: Simple-News-Aggregation
  password:

cucumber:
  <<: *test
